body {
	/*background-color: #ff7300;
	*/
	/*background-color: #59d388;*/
    background-image: url(media/EverLas.jpg);
}

#javascropt {

    
    display: flex;
    margin: auto;
    position: middle;
    /* maybe using vw & vh is whats causing it not going in the middle? */
    height:500px;
    width: 500px;
    font-size: 25px;
    font-family: Impact;
    background-color: #2eb9ce;
    border-width:2vw;
    border-style:solid;
    border-color:#2eb9ce;
    
}

#input {
    width: 100%;
    height: 100%;
    margin: auto;
    position: middle;   
}

#totalTip {
    
    display: flex;
    margin: auto;
    align-content: center;
    justify-content: center;
    /* maybe using vw & vh is whats causing it not going in the middle? */
    height:75px;
    width: 75px;
    font-size: 25px;
    font-family: Impact;
    text-decoration: underline;
}


