body {
	/*background-color: #ff7300;
	*/
	background-color: gray;
}

#javascropt {

    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 3vw;
    font-family: Impact;
    text-decoration: underline;
}